/** Google Font **/


/*
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700);
@font-face {
    font-family: "Notera Personal Use Only";
    src: url("http://db.onlinewebfonts.com/t/47a13d55769cf715dae09c0456839f5f.eot");
    src: url("http://db.onlinewebfonts.com/t/47a13d55769cf715dae09c0456839f5f.eot?#iefix") format("embedded-opentype"), url("http://db.onlinewebfonts.com/t/47a13d55769cf715dae09c0456839f5f.woff2") format("woff2"), url("http://db.onlinewebfonts.com/t/47a13d55769cf715dae09c0456839f5f.woff") format("woff"), url("http://db.onlinewebfonts.com/t/47a13d55769cf715dae09c0456839f5f.ttf") format("truetype"), url("http://db.onlinewebfonts.com/t/47a13d55769cf715dae09c0456839f5f.svg#Notera Personal Use Only") format("svg");
}
*/


/* Base CSS */

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: normal;
    color: #333333;
    letter-spacing: 2px;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;
}

p {
    font-size: 13px;
}

a:hover {
    text-decoration: none
}

section {
    padding: 80px 0;
}


/*section heading*/

.heading-text h3 {
    font-size: 23px;
    font-weight: normal;
    letter-spacing: 2px;
    padding-bottom: 23px;
}

.heading-text p {
    padding-bottom: 40px;
    letter-spacing: 2px;
    font-size: 11px;
}


/*navbar css*/

header.header {
    top: 0;
    width: 100%;
    position: absolute;
    padding-top: 15px;
    z-index: 999;
}

.navbar-nav > li > a {
    padding: 7px 0 0;
    line-height: 12px;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 2px;
    font-size: 11px;
    border-bottom: 1px solid transparent;
    transition: all .4s;
}

.navbar-brand > img {
    display: block;
    width: 100px;
    padding-top: 7px;
}

.nav > li {
    padding: 15px 15px;
}

.is-sticky .navi {
    background: rgba(230, 241, 247, 1);
    z-index: 999;
}

.navbar-nav > li.active a {
    border-bottom: 1px solid #333;
}

.navbar-nav > li > a::after,
.dropdown-menu li a::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 1px;
    width: 0;
    background-color: #333;
    transition: all .5s;
}

.navbar-nav > li:hover a::after,
.dropdown-menu li:hover a::after {
    width: 100%;
}

.nav > li > a:focus,
.nav > li > a:hover {
    background: none;
}

.navbar-toggle .icon-bar {
    background: #272b2f;
}

.navbar-toggle {
    background-color: transparent;
    border: 0;
}

.collapse.in {
    background: rgba(203, 232, 250, .5);
}

.is-sticky .navbar {
    position: relative;
    min-height: 60px;
    margin-bottom: 0;
    border: 1px solid transparent;
}


/*DROPDOWN  MENU*/

.navbar-nav > li > .dropdown-menu {
    background-color: #E6F1F7;
    padding: 0;
    border-radius: 0;
    border: 0;
    margin: 0;
}

.dropdown-menu > li > a {
    background-color: #E6F1F7;
    transition: all .5s;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 8px 0 5px;
    margin: 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    border-radius: 4px;
    -webkit-box-shadow: 0;
    box-shadow: 0 rgba(0, 0, 0, .175);
    transition: all .3s;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    color: #262626;
    text-decoration: none;
    background: none;
}

.navi .navbar-right .dropdown-menu {
    right: 0;
    left: 1px;
    top: 100%;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


/*home css*/

#home {
    position: relative;
    background: url("img/ocean.jpg") no-repeat fixed center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: #333;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: table;
}

.table {
    display: table-cell;
    vertical-align: middle;
}

.home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 250, 250, .6);
}

.logohome {
    max-width: 60%;
    height: auto;
    margin: auto;
    text-align: center;
}

#slideshow {
    position: relative;
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: inline;
}

.button-home {
    position: absolute;
    width: 60px;
    bottom: 50px;
    left: 50%;
    margin-left: -30px;
}

.button-home a {
    transition: all 5s;
}


/*project css*/

.project-name {
    padding-bottom: 55px;
    color: #272b2f;
    overflow: hidden;
}

.project-name a {
    margin: 0 20px;
    font-size: 11px;
    letter-spacing: 2px;
    border-bottom: 1px solid transparent;
    transition: all 0.5s;
    text-decoration: none;
}

.project-name a.active,
.project-name a:hover {
    border-bottom: 1px solid #333;
}

.project {
    overflow: hidden;
    text-align: center;
}

.project-item {
    margin: 10px;
    float: left;
    position: relative;
    overflow: hidden;
}


/*modal dialog box*/

.modal-content {
    border-radius: 0;
}

.btn-block {
    display: block;
    width: 100%;
    letter-spacing: 1px;
    background: #000;
    border: 0;
    border-radius: 0;
    color: #fafafa;
}

.btn-block:hover {
    background: #333;
    color: #fff;
}

.modal-body img {
    width: 100%;
}

.modal-body p {
    font-size: 13px;
    /*padding: 10px;*/
    line-height: 24px;
}

button.close {
    -webkit-appearance: none;
    cursor: pointer;
    background: transparent;
    border: 1px solid #2b2b2b;
    border-radius: 50%;
    line-height: 20px;
    width: 30px;
    height: 30px;
}

.img-overlay {
    background: rgba(85, 85, 85, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: 500ms;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    cursor: pointer;
}

.img-overlay h5 {
    color: #fff;
    font-size: 14px;
    background: url(img/project-heading-bg.png) no-repeat center bottom;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.project-item:hover .img-overlay {
    opacity: 1;
}


/*services css */

#service {
    background-color: #F5FCFC;
    color: #272b2f;
}

.single-service i {
    font-size: 35px;
    padding: 50px 0 15px 0;
    color: #A2A2A2;
}

.single-service h3 {
    font-size: 16px;
}

.single-service p {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.cdg {
    font-style: oblique;
    font-size: 13px;
}


/*carousel area css*/

#review {
    background: url("img/testimonial-bg.jpg") no-repeat fixed center center;
    background-size: cover;
    position: relative;
}

.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(256, 256, 256, 0.50);
}

.carousel-1 {
    color: #272b2f;
}

.carousel-1 p {
    line-height: 26px;
    padding-bottom: 25px;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 1px;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #A2A2A2;
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel-indicators li.active {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 10px;
    ;
    background-color: #333333;
}

.carousel-indicators {
    position: absolute;
    bottom: -40px;
    left: 50%;
    z-index: 15;
    width: 60%;
}

.carousel-1 span {
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 1px;
}

.carousel-1 h4 {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}


/*about area css*/

#about {
    color: #272b2f;
}

.description-text p {
    line-height: 24px;
    padding-top: 100px;
    text-align: left;
}

.ensemble {
    margin-top: 30px;
    text-align: left;
    font-size: 13px;
}

.signature {
    margin-top: 40px;
    font-family: "Notera Personal Use Only", sans-serif;
    text-align: right;
    font-size: 32px;
}

.about-bottom > h4 {
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 25px;
}

.single-member {
    position: relative;
    margin-bottom: 10px;
}

.team-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 500ms;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.team-text h4 {
    color: #fff;
    margin: 0 0 5px;
    text-transform: uppercase;
    font-size: 15px;
}

.team-text {
    padding-top: 65px;
    color: #fff;
}

.team-text p {
    margin-bottom: 10px;
}


/*contact area*/

#connect {
    background: url("img/dune.jpg") no-repeat fixed center center;
    position: relative;
    background-size: cover;
    height: 100%;
    width: 100%;
    color: #333;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: table;
    z-index: 2;
    overflow: hidden;
}

.contact-form input[type="text"],
input[type="email"] {
    border: 1px solid #272B2F;
    border-radius: 0;
    padding: 10px;
    color: #272b2f;
    font-size: 11px;
    height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.form-control:focus {
    border-color: #272B2F;
    outline: 0;
    box-shadow: inset 0 0 0 rgba(0, 0, 0, .075), 0 0 0 rgba(102, 175, 233, .6);
}

textarea.form-control {
    height: auto;
    border: 1px solid #272b2f;
    border-radius: 0;
    margin: 0;
    color: #272b2f;
    letter-spacing: 2px;
    font-size: 11px;
    resize: none;
}

button.btn-send {
    padding: 11px 22px;
    text-align: center;
    border: 1px solid #272b2f;
    background: #fff;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 11px;
    transition: all 0.5s;
    color: #272b2f;
    letter-spacing: 2px;
}

button.btn-send:hover {
    color: #fff;
    background: #272b2f;
}


/*address css */

.contact-info {
    margin-left: -10px;
}

.hotline {
    padding: 12px 0;
    letter-spacing: 1px;
}

.hotline h5 {
    font-size: 11px;
    margin-bottom: 6px;
}

.hotline P {
    letter-spacing: 1px;
    font-size: 11px;
    margin: 5px;
}

.hotline i {
    padding: 0 15px 37px 0;
    float: left;
    font-size: 12px;
}

.border-p {
    position: relative;
    margin-bottom: 20px;
}

.border-p span {
    border: 1px solid #A2A2A2;
    position: relative;
    z-index: 5;
    background: #fff;
    outline: 5px solid #fff;
    line-height: 40px;
    font-size: 12px;
    letter-spacing: 2px;
    width: 170px;
    display: inline-block;
}

.border-p::after {
    content: "";
    display: block;
    background-color: #333;
    width: 100%;
    position: absolute;
    top: 50%;
    height: 1px;
    z-index: 1;
}

.tm-social-icon {
    text-align: center;
}

.tm-social-icon i {
    text-align: center;
    height: 40px;
    width: 40px;
    border: 1px solid #333;
    border-radius: 50%;
    margin-right: 7px;
    line-height: 40px;
    color: #333;
    transition: all 0.5s;
}

.tm-social-icon i:hover {
    color: #FFFFFF;
    background: #272B2F;
}


/*footer css*/

footer {
    background: #F5FCFC;
}

footer p {
    font-size: 11px;
    letter-spacing: 2px;
    color: #282828;
    text-transform: uppercase;
    padding: 25px 0 15px;
}


/*pagination*/

.pagination {
    color: #353535;
    margin: 0 0 70px 0;
}

.pagination li a {
    color: #353535;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover,
.pagination li a:hover {
    background-color: #E6F1F7;
    border-color: #E6F1F7;
    color: #353535;
}

.side-bar {
    margin-left: -15px;
}

.search-btn input {
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 5px;
}

.search-btn a {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 5px 8px;
    background-color: #EDEDED;
}

.recent-post {
    padding-top: 50px;
}

.recent-post img {
    padding: 5px 0 20px;
}

.recent-post .p-text {
    padding-bottom: 30px;
    line-height: 24px;
}

.recent-post-name a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #272b2f;
    letter-spacing: 2px;
    padding: 5px 0;
    text-transform: uppercase;
}

.tm-social-icon.float-center {
    text-align: center;
}


/*blog details post*/

.blog-post {
    padding-bottom: 0
}

.blog-tag {
    padding: 15px 0;
}

.blog-tag a {
    font-size: 10px;
    line-height: 12px;
}

.related-post-heading {
    padding: 0 0 30px;
}

.related-post a {
    text-decoration: none;
}

.related-post {
    margin-bottom: 15px;
    overflow: hidden;
}

.related-post img {
    display: block;
    width: 100%;
}

.related-post h5 {
    margin: 0;
    padding: 15px;
    width: 100%;
    display: block;
    background-color: #ddd;
}

#comment {
    margin-bottom: 40px;
}

.comment-date {
    font-size: 12px;
    text-transform: capitalize;
}

.comment-no {
    margin-bottom: 30px;
}

.btn-margin {
    margin-bottom: 30px;
}

.media-list img {
    height: 70px;
    width: 70px;
}

.media-body p.comment-p {
    padding-bottom: 20px;
}

.archive {
    padding: 40px 0 0;
}

.side-blog-tag {
    padding-top: 40px;
}

.center {
    background: pink;
}